@import 'responsive.mixins';

mat-slide-toggle {
    .mat-slide-toggle-thumb {
        position: relative;

        &::before {
            content: '\e518';
            position: absolute;
            font-family: 'Material Icons';
            font-size: 14px;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #000;
        }
    }

    &.light-theme {
        .mat-slide-toggle-thumb {
            &::before {
                content: '\e51c';
            }
        }
    }
}

ntt-user-list-search .mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
    width: 30px !important;
    height: 30px !important;

    mat-icon {
        width: auto !important;
        height: auto !important;
        font-size: 20px !important;
    }
}

@include mobile {
    .mat-list-item-content {
        padding: 0 !important;
    }
}
