$medium: 1024px;
$small: 768px;
$mobile: 450px;

@mixin tablet-landscape {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
